doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		script(src='/jspm_packages/system.js')
		script(src='/config.js')
		script.
			window.onload = function() {
				System.import('js/app');
			}
body
	main#page-main
